@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    background: #a29b9b;
    color: black;
    text-align: center;
    margin: 10px;
    padding: 20px;
}

.container{
    border: 2px solid red;
    margin: 0px 25%;
    padding: 25% 25%;
    box-shadow: rgba(227, 189, 189, 0.4) rgba(0,0,0,0.4);
}

.form{
    display: inline-block;
    line-height: 25px;
}